*{margin: 0;padding: 0;}
ol{list-style: none;}
a:hover{text-decoration: none;}
/*.navbar{min-height: 40px;}
.nav{min-height: 40px;}
.navbar .navbar-header{min-height: 40px;}
.navbar .navbar-header a{min-height: 40px;}
.nav  li{min-height: 40px;}*/
.navbar img{width: 75px;height: 80px;}
#top-right li{width: 10%;height: 100%;line-height: 100px;}
#main{padding:0;background:url('images/main.jpg') no-repeat;background-size:100% 100%;width: 100%;height: 550px;}
#main .cent{width:90%;height: 100%;margin: 0 auto;/* position: relative; */}
/*#main .cent .right{position: absolute;right:0;}*/
#main .cent .btn{width: 30%;height: 20%;border-radius: 0;font-weight: 700;margin:5% 0 0 10%;}
#contain{width: 100%;height:1650px;}
#contain #cont{width: 100%;margin:0 auto;}
#bottom{padding:60px 0 0 45px;color:#428bca;}
#bottom ul{width: 25%;height: 110px;}
#bottom ul li{margin-top:10px;}